body {
  margin: 0;
  overflow: hidden;
}

html {
  overflow: hidden;
}

a-scene {
  width: 100vw;
  height: 100vh;
}

/* Cursor personalizado */
.a-canvas {
  cursor: grab;
}

.a-canvas:active {
  cursor: grabbing;
}
